@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1440px;
    height: 11082px;
    top: -5541px;
    left: -714px;
    padding: 20px;
    margin: 0 auto;
}

.item1 {
    display: flex;
    justify-content: space-between;
    padding-left: 1097px;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    color: #AAAAAA;
}

.footer_b {
    background-color: #F4F4F4;

    display: flex;
    width: 1440px;
    height: 40px;
}

.item_text {
    width: 110px;
    height: 33px;
    font-family: "Roboto-Regular";
    font-size: 5px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1px;
    text-align: left;
    gap: 25px;
    cursor: pointer;
    transition: .5s;
}

.item_text1:hover {
    color: antiquewhite;
    transition: .5s;
    cursor: pointer;
}

select {
    border: 0cm;
    background-color: #F4F4F4;
    width: 38px;
    height: 25px;
    top: 0.5px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 8px;
    cursor: pointer;
    border: 1px solid #AAAAAA transparent;
}

.header_logo {
    margin-right: 261px;
    margin-top: 25px;
    margin-left: 120px;
    width: 50.01px;
    height: 50.01px;
    cursor: pointer;
}

.item2 {
    display: flex;
    list-style-type: none;
    gap: 100px;
}

.item_text2 {
    width: 69px;
    height: 15px;
    top: 43px;
    left: 230px;
    cursor: pointer;
    font-family: "Roboto-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 43px;
    transition: .5s;
}

.item_text2:hover {
    color: green;
    transition: .5s;

}

.arava {
    margin-left: 46px;
    margin-top: 38px;
    cursor: pointer;
}

.tomchi {
    margin-right: 10px;
    margin-left: 375px;
    margin-top: 38px;
    cursor: pointer;
}

.header_text {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
}

.img1 {
    width: 1327px;
    height: 746px;
    margin-top: 50px;
    margin-left: 50px;
}

.main_t1 {
    width: 355px;
    height: 174px;
    font-family: "Roboto-Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-align: left
}

.main_text1 {
    padding-top: 82px;
    display: flex;
    align-items: center;
    gap: 136px;
    padding-left: 175px;
}

.text1 {
    width: 569px;
    height: 160px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #AAAAAA;
}

.rasm1 {
    width: 588px;
    height: 412px;
}

.h1 {
    width: 140px;
    height: 28px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding-top: 10px;

}

.guruh1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 210px;
}

.guruh2 {
    display: flex;

    justify-content: center;
    gap: 25px;
    margin-top: 32px;
}

.p1 {

    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    padding-top: 10px;
}

.h2 {
    width: 941px;
    height: 48px;

    font-family: "Roboto-Regular";
    padding-top: 247px;
    font-size: 48px;
    font-weight: 400;
}

.p2 {
    width: 280px;
    height: 36px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 67px;
}

.rasmlar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    margin-top: 125px;
}

.rasm2 {
    cursor: pointer;
}

.rasmlar2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;
    margin-top: 49px;
}

.rasmlar3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 78px;
    margin-top: 49px;
}

.main_surat {
    width: 1440px;
    height: 700px;
    margin-top: 200px;
}

.h10 {
    width: 1077px;
    height: 168px;
    font-family: "Roboto-Regular";
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: left;
    padding-left: 175px;
    padding-top: 119px;
}

.pech1 {
    width: 107px;
    height: 12px;
    top: 192px;
    font-family: "Roboto-Regular";

    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    margin-left: 175px;
    margin-top: 149px;
    color: #46856E;
}

.fox1 {
    width: 160px;
    height: 24px;
    top: 62px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 26px;

}

.main_p5 {
    width: 316px;
    height: 120px;
    top: 104px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 18px;

    color: #AAAAAA;
}

.rasm3 {
    margin-left: 70px;

    cursor: pointer;
}

.main_rasm2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
}

.main_text2 {
    margin-left: 175px;
}

.p6 {
    width: 299px;
    height: 144px;
    top: 104px;
    left: -0.33px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 18px;
    margin-left: 60px;
    color: #AAAAAA;
}

.rasm4 {
    width: 162px;
    height: 121px;
    top: 217px;
    left: 594px;
    margin-left: 120px;

    cursor: pointer;
}

.fox2 {
    margin-left: 57px;
    margin-top: 34px;
    width: 160px;
    height: 24px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.guruh3 {
    display: flex;


    margin-top: 71px;
}

.rasm5 {
    width: 162px;
    height: 119.32px;
    cursor: pointer;
    margin-left: 140px;
}

.p7 {
    padding-top: 18px;

    top: 104px;
    left: 0.34px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #AAAAAA;
    padding-left: 65px;
}

.fox3 {
    padding-left: 65px;
    margin-top: 42px;
    width: 160px;
    height: 24px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.kattta_img {
    background-image: url(../imeges/katta\ rasm33.png);
    width: 1340px;
    margin-left: 35px;
    margin-top: 240px;

    height: 800px;
}

.yulduz {
    display: flex;
    margin-left: 200px;
    padding-top: 120px;
    cursor: pointer;
}

.pech2 {
    width: 228px;
    height: 64px;
    top: 34px;
    left: -10px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: white;
    padding-top: 10px;
    margin-left: 190px;
}

.section_img1 {
    margin-left: 200px;
    margin-top: 15px;
    width: 100px;
    height: 32px;
    top: 106px;
}

.pech3 {
    width: 264px;
    height: 64px;
    top: 33.69px;
    left: -10px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 190px;
    padding-top: 10px;
    color: white;
}

.yulduz2 {
    display: flex;
    margin-left: 200px;
    padding-top: 40px;
    cursor: pointer;
}

.section_img2 {
    width: 100px;
    height: 42px;
    top: 105.69px;
    margin-left: 200px;
    margin-top: 15px;
}

.pech4 {
    width: 201px;
    height: 64px;
    top: 34.23px;
    left: -10px;
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 190px;
    padding-top: 10px;
    color: white;
}

.section_img3 {
    width: 100px;
    height: 22px;
    top: 106.23px;
    margin-left: 200px;
    margin-top: 15px;
}

.sextion_pech1 {
    padding-top: 40px;
    margin-left: 200px;
    width: 184px;
    height: 12px;
    top: 539px;
    left: 125px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.75px;
    color: white;
}

.section_text {
    width: 862px;
    height: 260px;
    top: 240px;
    left: 100px;
    font-family: "Roboto-Regular";
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    padding-top: 240px;
    color: #AAAAAA;
}

.row1 {
    width: 861px;
    height: 52px;
    top: 525px;
    left: 100px;
    font-family: "Roboto-Regular";
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    margin-top: 60px;
}

.section_img4 {
    width: 671px;
    height: 672px;
    margin-left: 120px;
}

.text15 {
    width: 213px;
    height: 36px;
    font-family: "Roboto-Regular";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 90px;

}

.guruh4 {
    margin-top: 135px;
    display: flex;
    align-items: center;
}

.pech6 {
    width: 311px;
    height: 96px;
    top: 63px;
    left: 90.31px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #AAAAAA;
    margin-left: 90px;
    padding-top: 27px;
}

.text16 {
    width: 206px;
    height: 72px;
    left: 110px;
    font-family: "Roboto-Regular";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;

}

.pech7 {
    width: 298px;
    height: 144px;
    top: 99px;
    left: 110px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 27px;
    color: #AAAAAA;
}

.yozuv2 {
    margin-left: 230px;
}

.guruh5 {
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.pech8 {
    width: 309px;
    height: 144px;
    top: 99px;
    left: 110.38px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 110px;
    padding-top: 27px;
    color: #AAAAAA;
}

.text17 {
    width: 176px;
    height: 72px;
    left: 110.38px;
    font-family: "Roboto-Regular";
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 110px;
}

.guruh6 {
    display: flex;
    align-items: center;
    margin-top: 64px;
}

.katta_img5 {
    width: 1440px;
    height: 700px;
    margin-top: 288px;
}

.row2 {
    width: 1200px;
    height: 465px;
    border-radius: 2px;
    background-color: #F2F2F2;
    margin-top: 286px;
    margin-left: 107px;
}

.text18 {
    width: 446px;
    height: 51px;
    top: 63px;
    left: 377px;
    font-family: "Roboto-Regular";
    font-size: 46px;
    font-weight: 400;
    line-height: 50.6px;
    padding-top: 63px;
    margin-left: 377px;
}

.section_time {
    width: 64px;
    height: 64px;
    left: 68.36px;

}

.time1 {
    width: 97px;
    height: 14px;
    top: 86px;
    left: 51.67px;
    font-family: "Roboto-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    letter-spacing: 0.75px;
    text-align: center;
    padding-top: 22px;

}

.section_time2 {
    width: 64px;
    height: 51px;
    top: 6px;
    left: 68.02px;
    padding: 0.36px 0px 0.36px 0px;
    margin-bottom: 13px;
}

.guruh7 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 107px;
}

.btn5 {
    width: 146px;
    height: 50px;
    border-radius: 2px;
    background-color: #46856E;
    margin-top: 35px;
    margin-left: 527px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn5:hover {
    background-color: chartreuse;
    transition: .5s;
    cursor: pointer;
}

.btn_p {
    color: white;
    text-align: center;
    font-family: "Roboto-Regular";

    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 2px;
}

.section_p10 {
    width: 138px;
    height: 18px;
    font-family: "Roboto-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: center;
    padding-top: 26px;
    margin-left: 531px;
    color: #AAAAAA;
}

.footer {
    background-color: #2B2B2B;
    display: flex;
    width: 1440px;
    height: 625px;
    margin-top: 79px;
}


.footer_lo {
    margin-top: 97px;
    margin-left: 175px;
    width: 87px;
    height: 87px;
    cursor: pointer;
}

.footer_text1 {
    margin-left: 70px;
}

.footer_p1 {
    width: 43px;
    height: 16px;
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.5px;
    color: white;
    cursor: pointer;
    transition: .5s;
    padding-top: 97px;
    margin-left: 70px;
}

.footer_p1:hover {
    color: #46856E;
    transition: .5s;
}

.item_footer {
    list-style-type: none;
}

.item_text_footer {
    color: white;
    cursor: pointer;
    transition: .5s;
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 5px;
    width: 110px;
    height: 16px;
    margin-left: 70px;
}

.item_text_footer:hover {
    color: deeppink;
    transition: .5s;
}

.footer_p2 {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.5px;
    color: white;
    cursor: pointer;
    transition: .5s;
    padding-top: 40px;
}

.footer_p2:hover {
    color: #46856E;
    transition: .5s;
}

.item_footer2 {
    list-style-type: none;
}

.item_text_footer2 {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 4px;
    color: white;
    cursor: pointer;
    transition: .5s;
    width: 96px;
    height: 16px;
}

.item_text_footer2:hover {
    color: peru;
    transition: .5s;
}

.footer_p3 {
    width: 43px;
    height: 21px;
    font-family: "Roboto-Regular";
    font-size: 14px;
    margin-left: 68px;
    color: white;
    padding-top: 20px;
    cursor: pointer;
    transition: .5s;
}

.footer_p3:hover {
    color: #46856E;
    transition: .5s;
}

.footer_juft {
    width: 125px;
    height: 30px;
    font-family: "Roboto-Regular";
    font-size: 13px;
    padding-top: 52px;
    margin-left: 70px;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.footer_juft:hover {
    color: aqua;
    transition: .5s;
}

.ul {
    margin-left: 75px;
}

.footer_p4 {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: 0.5px;
    color: white;
    cursor: pointer;
    transition: .5s;
    padding-top: 40px;

}

.footer_p4:hover {
    color: #46856E;
    transition: .5s;
}

.footer_p5 {
    width: 64px;
    height: 21px;
    font-family: Roboto;
    font-size: 14px;
    padding-top: 97px;
    margin-left: 150px;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.footer_p5:hover {
    color: #46856E;
    transition: .5s;
}

.guruh9 {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-top: 20px;
    margin-left: 150px;
}

.row21 {
    width: 132px;
    height: 21px;
    font-family: "Roboto-Regular";
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: .5s;
    padding-top: 97px;
    margin-left: 100px;
}

.row21:hover {
    transition: .5s;
    color: #46856E;
}

.row22 {
    width: 256px;
    height: 21px;
    font-family: "Roboto-Regular";
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: .5s;
    padding-top: 27px;
    margin-left: 100px;
}

.row22:hover {
    transition: .5s;
    color: #46856E;
}
input{
    width: 327px;
height: 54px;
top: 30px;
border-radius: 3px ;
border: 1px 0px 0px 0px;
background-color: #2B2B2B;
margin-top: 50px;
margin-left: 69px;
color: white;
}
.blob{
    width:110px;
height: 21px;
font-family: "Roboto-Regular";
font-size: 14px;
margin-top: 30px;
background-color: #2B2B2B;
margin-left: 129px;
border: 1px solid transparent;
}
.btnn{
    width: 72px;
height: 60px;
top: 367px;
left: 261px;
color: white;
margin-bottom: 50px;
background-color: #2B2B2B;
cursor: pointer;
transition: .5s;
margin-left: 269px;
border: 1px solid transparent;
}
.btnn:hover{
    background-color: chocolate;
    transition: .5s;
}
.chek{
    width: 28px;
height: 26px;
border: 1px ;
background-color: #2B2B2B;
}
.text25{
    width: 245px;
height: 78px;
font-family: "Roboto-Regular";
font-size: 11px;
color: #AAAAAA;
margin-left: 20px;
padding-top: 30px;

}
.guruh12{
    display: flex;
    align-items: center;
justify-content: center;
}
.guruh11{
    display: block;
}
.text_img{
    margin-left: 85px;
    margin-top: 80px;
}